<?php
/**
 * @var \App\View\AppView $this
 * @var \App\Model\Entity\Asset $asset
 */
?>
<nav class="large-3 medium-4 columns" id="actions-sidebar">
    <ul class="side-nav">
        <li class="heading"><?= __('Actions') ?></li>
        <li><?= $this->Form->postLink(
                __('Delete'),
                ['action' => 'delete', $asset->id],
                ['confirm' => __('Are you sure you want to delete # {0}?', $asset->id)]
            )
        ?></li>
        <li><?= $this->Html->link(__('List Assets'), ['action' => 'index']) ?></li>
    </ul>
</nav>
<div class="assets form large-9 medium-8 columns content">
    <?= $this->Form->create($asset) ?>
    <fieldset>
        <legend><?= __('Edit Asset') ?></legend>
        <?php
            echo $this->Form->control('title');
            echo $this->Form->control('price_paid');
            echo $this->Form->label('status');
            echo $this->Form->select('status', $this->Enum->selectValues('Assets', 'status'));
            echo $this->Form->control('room_id', ['options'=>$rooms,'empty'=>'None']);
            echo $this->Form->control('container_id', ['options'=>$containers,'empty'=>'None']);
            echo $this->Form->control('description');
            echo $this->Form->control('manufacturer');
            echo $this->Form->control('model');
            echo $this->Form->control('serial');
            echo $this->Tag->control();
        ?>
    </fieldset>
    <?= $this->Form->button(__('Submit')) ?>
    <?= $this->Form->end() ?>
</div>
